body{
    background-color: darkblue;
            color: white;
    text-align: start;
    border-image: fill;
    align-content: first baseline;
    img {
        display: block;
        margin-left: auto;
        object-fit: cover;
        box-shadow: burlywood;
    }
        
      }
    